<div id="block-views-page-by-view-block-careers-page" class="block block-views block-odd">
  <div class="content">
    <div dir="rtl" class="view view-page-by-view view-id-page_by_view view-display-id-block_careers_page view-dom-id-9a8539f642d5d5aecda498cde1567f53">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
          <div class="views-field views-field-field-title">
            <div class="field-content">אנחנו תמיד מחפשים כשרון חדש!</div>
          </div>
          <div class="views-field views-field-field-working-at-tikal">
            <span class="views-label views-label-field-working-at-tikal">עבודה בטיקל</span>
            <div class="field-content working-at-tikal">
              <div class="container-inline">
                <div class="double-field-first">להיות אומן-תכנה&nbsp;</div>
                <div class="double-field-second">הבנת שהרצון שלך הוא להשאר קרוב לקוד- להיות מומחה בפיתוח תכנה. בטיקל יהיה לך קל למצוא מפתחים בכירים ואדריכלי תכנה עם ההתלהבות והתשוקה המוכרת. אנחנו מזמינים אותך להיות חלק מצוות מקצועי המאפשר התפתחות בתחום וקידום הקריירה.</div>
              </div>
              <div class="container-inline">
                <div class="double-field-first">כח מחץ&nbsp;</div>
                <div class="double-field-second">בטיקל לא רק שנשארים קרוב לקוד, אלא מצטרפים גם לקהילת עלית של מפתחים ומפתחות, ונהנים מהבטחון, העוצמה, הכיף וכל מה שקהילה כזו נותנת. והכי פשוט -  כשיש גישה לעצה טובה או לתמיכה כשצריך, הבעיות נפתרות הרבה יותר מהר.</div>
              </div>
              <div class="container-inline">
                <div class="double-field-first">מה שאוהבים&nbsp;</div>
                <div class="double-field-second">העבודה בטיקל היא הזדמנות. הזדמנות להשקיע את הזמן במה שבאמת אוהבים ורוצים לעסוק בו. אנחנו מעודדים את העובדים שלנו ללכת עם הלב והבטן, כי בעיננו רק כך צומח כשרון אמיתי.</div>
              </div>
              <div class="container-inline">
                <div class="double-field-first">לאתגר את עצמך כל הזמן&nbsp;</div>
                <div class="double-field-second">בטיקל הפרויקטים והעבודה שונים ומגוונים, הטכנולוגיה שאנחנו משתמשים בה מתפתחת תוך כדי תנועה. צריך לאהוב את הדינמיקה המהירה של עולם התוכנות כדי להיות חלק ממנה. אנחנו חיים את הדינמיקה הזו.</div>
              </div>
            </div>
          </div>
          <div class="views-field views-field-field-the-tikal-alternative">
            <span class="views-label views-label-field-the-tikal-alternative">האלטרנטיבה על פי טיקל</span>
            <div class="field-content the-tikal-alternative">
              <div class="container-inline">
                <div class="double-field-first">hands-on&nbsp;</div>
                <div class="double-field-second">עבודה בטיקל אומרת עבודה בחזית של השדה הטכנולגי. לצבור נסיון מהשטח ברמות שונות וברמה אחרת, ולהישאר מעודכן וקרוב לפלטפורמות והטכנולוגיות הכי מתקדמות שיהיו.</div>
              </div>
              <div class="container-inline">
                <div class="double-field-first">העשרה&nbsp;</div>
                <div class="double-field-second">אנחנו רואים בטיקל חממה למפתחי תכנה. הסדנאות המקצועיות וארועי החברה שאנחנו מארגנים באופן קבוע, הם רק חלק מהדרך לשמור על העובדים שלנו במיטבם.</div>
              </div>
              <div class="container-inline">
                <div class="double-field-first">תכנון הדרך&nbsp;</div>
                <div class="double-field-second">אנחנו בונים את תכנית העבודה שלך כך שתתאים לצרכים שלך ושל הקריירה שלך. אנחנו משקיעים את כל מה שצריך כדי ליצור התאמה אופטימלית בין הכשרון והיכולות לבין השאיפות. אחרי שאנחנו מבינים את השאיפות והעניין שלך, אנחנו מתכננים ובונים ביחד את המשך הדרך.</div>
              </div>
            </div>
          </div>
          <div class="views-field views-field-field-our-values">
            <span class="views-label views-label-field-our-values">הערכים שלנו</span>
            <div id="core-values" class="fields-in-our-core-values">
              <div class="field-item field-item-1 even">
                <div class="field-first">
                  <div class="diagonal-right"></div>
                  <div class="diagonal-left"></div>
                  <div class="double-field-first">קוד פתוח</div>
                </div>
                <div class="double-field-second">באופן כללי הגישה והערכים של הקוד הפתוח הם חלק מהיום-יום שלנו. סביבת העבודה שלנו מעודדת ביטוי חופשי פתוח ומוטיבציה עצמית אמיתית. אנחנו שמחים להישאר מחויבים לפתיחות, לשקיפות, לנגישות וליחס אישי.
                </div>
              </div>
              <div class="field-item field-item-2 odd">
                <div class="field-first">
                  <div class="diagonal-right"></div>
                  <div class="diagonal-left"></div>
                  <div class="double-field-first">חדשנות ומקצוענות</div>
                </div>
                <div class="double-field-second">העשרה מקצועית והעצמה אישית הם ערכי מפתח מבחינתינו, ונמצאים עמוק ב – DNA של החברה שלנו. אנחנו פשוט רוצים שתהיה הכי טוב במה שאתה רוצה לעשות. לעבוד פה זה אומר להיות חשוף כל הזמן לכל הידע החדש בתחום, ולהיות חלק מקבוצה שלא מפסיקה ללמוד ולהיות צמאה לכל התפתחות חדשה.
                </div>
              </div>
              <div class="field-item field-item-3 even">
                <div class="field-first">
                  <div class="diagonal-right"></div>
                  <div class="diagonal-left"></div>
                  <div class="double-field-first">תוצאות ואיזונים</div>
                </div>
                <div class="double-field-second">תמיד נהיה מוכווני יעד ותוצאות, גם בתמונה הגדולה וגם בפרטים שמרכיבים אותה. המטרה שלנו היא לתת לצוות את הכלים, הסביבה והאווירה האופטימליים לשם השגת התוצאות הרצויות, תוך ניהול מודע, מאוזן ובריא של יחסי בית-עבודה.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content -->
</div>
