<div dir="rtl" class="view view-page-by-view view-id-page_by_view view-display-id-block_solutions_page">
  <div class="view-content">
    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      <div class="views-field views-field-field-consultancy-header">
        <span class="views-label views-label-field-consultancy-header">שירותי ייעוץ</span>
        <div class="field-content consultancy">
          <p>מתן מענה באתר ע"י מומחי קוד פתוח מובילים.</p>
          <p>המומחים שלנו יכולים לעזור לכל צוות פיתוח לסיים את העבודה כמו שצריך, במהירות ובאפקטיביות. התחומים בהם אנחנו מספקים שירותי ייעוץ:</p>
        </div>
      </div>
      <div class="views-field views-field-field-our-consultancy-fields">
        <div class="field-content">
          <div class="container-inline">
            <div class="double-field-first">תכנון ובניית פרוייקטים&nbsp;</div>
            <div class="double-field-second"></div>
          </div>
          <div class="container-inline">
            <div class="double-field-first">התאמה בין טכנולוגיות שונות&nbsp;</div>
            <div class="double-field-second"></div>
          </div>
          <div class="container-inline">
            <div class="double-field-first">אימות תפקוד המערכות בסביב הלקוח&nbsp;</div>
            <div class="double-field-second"></div>
          </div>
          <div class="container-inline">
            <div class="double-field-first">אופטימיזציה בסביבת הלקוח&nbsp;</div>
            <div class="double-field-second"></div>
          </div>
        </div>
      </div>
      <div class="views-field views-field-field-consultancy-fooret">
        <div class="field-content">
          <p>המומחים שלנו מגובים בקהילה מקצועית, המכסה מגוון רחב של טכנולוגיות קוד פתוח, תוכנות וכלי עבודה. הרעיון הוא לייצר חבילה של שירותים בהתאמה אישית ולהתאים אותה לצרכים ולמטרות של הארגון שלך. אפשר להתייחס לזה פשוט כהרחבה נקודתית של הצוות שלך במומחים מובילים נוספים.</p>
        </div>
      </div>
      <div class="views-field views-field-nothing">    <span class="views-label views-label-nothing">סדנאות</span>    <span class="field-content workshops"></span>  </div>
      <div class="views-field views-field-field-workshops-header">
        <div class="field-content">
          <p>טיקל מספקת שירותי הדרכה, בתוכניות מותאמות לדרישות והצרכים הספציפיים של כל ארגון. כל צוות וכל אתגרת מורכב ככל שיהיה.</p>
        </div>
      </div>
      <div class="views-field views-field-field-we-provide">
        <span class="views-label views-label-field-we-provide">בין התכניות שלנו:</span>
        <div class="field-content">
          <div class="container-inline">
            <div class="double-field-first">Boot camps&nbsp;</div>
            <div class="double-field-second">מחנות אימונים מרוכזים, להתחלת עבודה בטכנולוגיות קוד פתוח.</div>
          </div>
          <div class="container-inline">
            <div class="double-field-first">סדנאות&nbsp;</div>
            <div class="double-field-second">לימוד והתנסות בתוך סביבת העבודה האמיתית.</div>
          </div>
          <div class="container-inline">
            <div class="double-field-first">שיעורים ותרגולים מתקדמים אצלנו&nbsp;</div>
            <div class="double-field-second"></div>
          </div>
        </div>
      </div>
      <div class="views-field views-field-block">
          <span class="field-content">
              <section id="block-menu-block-4" class="block block-menu-block our-technology-domains block-even">
                <h2 class="block-title">אנחנו שולטים ב:</h2>
                  {% include shared/tech-domains.html %}
              <!-- /.content -->
              </section><!-- /.block -->
          </span>
      </div>
      <div class="views-field views-field-field-support-header">
        <span class="views-label views-label-field-support-header support">תמיכה</span>
        <div class="field-content">
          <p>שירותי התמיכה והשדרוג שלנו מוכוונים לטובת ארגוני מו"פ. ארגונים העושים שימוש בתוכנות קוד פתוח, וצריכים לשמור על כדאיות ותפקוד גבוה של המוצר והמערכת סביבו. העבודה איתנו מבטיחה שלא יקרה מצב של משבר או בעיה, בלי שיהיה שם את האדם הנכון לפתור אותם.</p>
        </div>
      </div>
      <div class="views-field views-field-field-our-support-services">
        <span class="views-label views-label-field-our-support-services">מגוון מסגרות תמיכה:</span>
        <div class="field-content">
          <div class="container-inline">
            <div class="double-field-first">חבילות "בנק שעות"&nbsp;</div>
            <div class="double-field-second"></div>
          </div>
          <div class="container-inline">
            <div class="double-field-first">חבילת התכנה הייחודית&nbsp;</div>
            <div class="double-field-second">Tikal ALM 2.0 (מבוססת מנוי)</div>
          </div>
          <div class="container-inline">
            <div class="double-field-first">תמיכה ושדרוגים שוטפים&nbsp;</div>
            <div class="double-field-second"></div>
          </div>
        </div>
      </div>
      <div class="views-field views-field-field-suppor-upgrade">
        <div class="field-content">
          <p class="rtecenter">שירות המומחים שלנו נותן מענה מהיר ואפקטיבי לכל בעיה שעולה- בכל יום עסקים.</p>
        </div>
      </div>
    </div>
  </div>
</div>
