<div class="views-field views-field-field-our-history">    <span class="views-label views-label-field-our-history">היסטוריה</span>    <div class="field-content our-history"><p>טיקל התחילה את דרכה בימים בהם הקוד הפתוח החל את דרכו בעולם הפיתוח. חדורי מוטיבציה ומלאי תשוקה לטכנולוגיה חדשנית, היינו בחיפוש מתמיד אחר הכלים שיאפשרו לנו עבודת פיתוח חופשית ובלתי מוגבלת. &nbsp;<br>
  עם השנים הלך והתרחב צוות הפיתוח והפך לחלוץ בקהילת המפתחים בקוד הפתוח.<br>
  השאיפה שלנו להמשיך ולמצוא פתרונות טכנולוגיים הובילה אותנו להעמיק את הידע שלנו ולהרחיב את מגוון השפות והכלים בהם אנו משתמשים.&nbsp;<br>
  כיום מובילים את טיקל צוות של מומחים טכנולוגיים בתחומי ה - ALM, JAVA, JS, NET,ROR. מעל 100 עובדים שהם לב החברה, המסייעים לצוותי פיתוח בחברות שונות להצליח בכל משימה.</p>
</div>  </div>
