<div class="field-item field-item-1 even">
  <div class="field-first">
    <div class="diagonal-right"></div>
    <div class="diagonal-left"></div>
    <div class="double-field-first">פתיחות ושקיפות</div>
  </div>
  <div class="double-field-second">גישת הקוד הפתוח בטיקל והכלים בהם אנו משתמשים, מבטיחים ללקוחותינו חופש מהתחייבויות כולאות לספק תוכנה יחיד, שומרת לו את הזכות לבחור עם מי לעבוד, ועם איזו טכנולוגיה שיבחר. הלקוחות שלנו משוחררים מהמודל המקובל והמקובע, הם ונהנים משימוש בכלים טכנולוגיים בקוד הפתוח, פתרונות גמישים יותר, פרוטוקולים וסטנדרטים פתוחים. גישה זו מחייבת אותנו להמשיך ולפתח טכנולוגיות, להתפתח ולהעמיק את הידע שלנו על מנת להמשיך ולהיות הבחירה של הלקוח.
  </div>
</div>
<div class="field-item field-item-2 odd">
  <div class="field-first">
    <div class="diagonal-right"></div>
    <div class="diagonal-left"></div>
    <div class="double-field-first">חדשנות מעשית</div>
  </div>
  <div class="double-field-second">הגישה המקצועית בטיקל משלבת בין מומחיות הנוצרת בעבודת הפיתוח בשטח, לבין טיפוח הכושר הטכנולוגי וגיוון הידע ע"י שיגרת למידה בצוותים, הדרכות והפרייה הדדית של קהילת המפתחים שלנו. גישה זו מאפשרת לנו לסייע ללקוח להתמודד ולפתור כול בעיה בצורה יעילה ואפטקטיבית. לקבל תמיכה נרחבת ע"י "עמוד השידרה" הטכנולוגי של טיקל, ולהנות ממפתחים מומחים בעלי ידע מגוון השולטים בשטח ונמצאים בחזית המרוץ הטכנולוגי.
  </div>
</div>
<div class="field-item field-item-3 even">
  <div class="field-first">
    <div class="diagonal-right"></div>
    <div class="diagonal-left"></div>
    <div class="double-field-first">גמישות ומחוייבות לתוצאות</div>
  </div>
  <div class="double-field-second">אחריות מקצועית ולא רק אחריות טכנולוגית היא ערך ליבה משמעותי במחוייבות שלנו כלפי עצמנו וכלפי הלקוחות שלנו. הגמישות הניתנת לעובד ללמוד ולהתפתח ע"פ נטיותיו האישיות נמצאת בבסיס לדרישה שלנו ממנו לקחת אחריות על עצמו ולהיות מכוון להשגת תוצאות . החופש המקצועי בטיקל מטפח עובדים בעלי יכולת עבודה עצמאית ואחראית, ומוביל אותם ולהיות מסוגלים להתמודד עם מגוון של אתגרים. מכוונות העובד לביצוע משימות אצל הלקוח, מטפחת בו את הגמישות להשתלב בתוך צוות מפתחים, ולקחת את האחריות על המחוייבות שלו למימוש המשימה.
  </div>
</div>
