<aside id="sidebar-second" class="sidebar" role="complementary">
  <div class="region region-sidebar-second">
    <div id="block-menu-menu-hebrew" class="block block-menu block-even">

      <div class="content">
        <ul class="menu clearfix"><li class="first expanded אודות"><a href="/" title="">אודות</a><ul class="menu clearfix"><li class="first leaf מי אנחנו"><a href="/node/30/#who-we-are" title="">מי אנחנו</a></li>
          <li class="leaf היסטוריה"><a href="/about#our-history" title="">היסטוריה</a></li>
          <li class="last leaf התרבות/הגישה שלנו"><a href="/about#our-culture" title="">התרבות/הגישה שלנו</a></li>
        </ul></li>
        <li class="expanded הפתרונות שלנו"><a href="/" title="">הפתרונות שלנו</a><ul class="menu clearfix"><li class="first leaf שירותי יעוץ"><a href="/solutions#consultancy" title="">שירותי יעוץ</a></li>
          <li class="leaf סדנאות"><a href="/solutions#workshops" title="">סדנאות</a></li>
          <li class="last leaf תמיכה"><a href="/solutions#support" title="">תמיכה</a></li>
        </ul></li>
        <li class="last expanded קריירה בטיקל"><a href="/" title="">קריירה בטיקל</a><ul class="menu clearfix"><li class="first leaf עבודה בטיקל"><a href="/careers#working-at-tikal" title="">עבודה בטיקל</a></li>
          <li class="leaf האלטרנטיבה ע&quot;פ טיקל"><a href="/careers#the-tikal-alternative" title="">האלטרנטיבה ע"פ טיקל</a></li>
          <li class="last leaf הערכים שלנו"><a href="/careers#our-values" title="">הערכים שלנו</a></li>
        </ul></li>
      </ul>  </div><!-- /.content -->
    </div>

  </div>
</aside>
