---
layout: default
name: hebrew
title: אודות טיקל | Tikal
header_title: טיקל
header_subtitle: אנחנו עוזרים לחברות לבנות, לנהל ולייעל את המוצרים שלהם

our_experts:
  - Itai Or
  - Haggai Zagury
  - Liya Katz
  - Oren Farhi
  - Assaf Gannon
  - Yanai Franchi
  - Adi Baron
  - Itai Peleg
  - Igor Zalmanovich
  - Avi Tzurel

our_clients:
  - VMWare
  - Confidela
  - Harmon.ie
  - Sapiens
---
<div id="main" style="left: inherit; text-align: right; direction: rtl;">
  <article id="node-30" class="node node-about-tikal about-tikal-hebrew hebrew">
    <div id="who-are-we">
      {% include pages/hebrew/who_are_we.html %}
    </div>
    <div id="our-history">
      {% include pages/hebrew/our_history.html %}
    </div>
    <div id="our-core-values">
      {% include pages/hebrew/our-culture.html %}
    </div>
    <div id="our-experts">
      {% include pages/hebrew/our-experts.html %}
    </div>
    <div id="community" class="community">
      {% include pages/hebrew/careers.html %}
    </div>
  </article>
</div>
{% include pages/hebrew/sidebar.html %}
