<aside id="sidebar-first" class="sidebar" role="complementary">
  <div class="region region-sidebar-first">
    <section id="block-menu-menu-careers" class="block block-menu block-odd">
      <h2 class="block-title">About Us</h2>
      <div class="content">
        <ul class="menu clearfix">
          <li class="first leaf working at tikal"><a href="{{ '/careers#working-at-tikal' | to_baseurl }}" title="" class="active">Working at Tikal</a></li>
          <li class="leaf the tikal alternative"><a href="{{ '/careers#the-tikal-alternative' | to_baseurl }}" title="" class="active">The Tikal Alternative</a></li>
          <li class="leaf our values"><a href="{{ '/careers#our-values' | to_baseurl }}" title="" class="active">Our values</a></li>
          <li class="leaf hear what our staff says"><a href="{{ '/careers#hear-what-our-staff-says' | to_baseurl }}" title="" class="active">Hear what our staff says</a></li>
          <li class="last leaf active-trail current openings"><a href="{{ '/careers#current-openings' | to_baseurl }}" title="" class="active-trail active">Current Openings</a></li>
        </ul>
      </div>
    </section>
    <section id="block-general-tikal-vimeo-doc" class="block block-general-tikal block-odd">
        <h2 class="block-title">קריירה בטיקל</h2>
        <div class="content">
          <a class="colorbox-inline" href="?width=700&amp;height=550&amp;inline=true#id-of-content"></a>
      		  <div style="display: none;">
      			     <div id="id-of-content">
                  <!--
      						<iframe src="http://www.slideshare.net/slideshow/embed_code/" width="640" height="534" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
      					</div>
                  -->
                  <iframe src="http://www.slideshare.net/slideshow/embed_code/30615198" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe>
                  <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/tikalknowledge/2014-30615198" title="קריירה טכנולוגית בטיקל 2014" target="_blank">קריירה טכנולוגית בטיקל 2014</a> </strong> from <strong><a href="http://www.slideshare.net/tikalknowledge" target="_blank">Tikal Knowledge</a></strong> </div>
      				</div>
            </div><!-- /.content -->
        </div>
      </section>
      {% include shared/linkedin_banner.html %}
  </div>
</aside>
