<footer id="footer" role="contentinfo">
  <div class="region region-footer">
    <section id="block-block-2" class="block block-block block-about-tikal block-even">
      <h2 class="block-title">About Tikal</h2>

      <div class="content">
        <div>
          <div>
            For over 12 years, we have helped breakthrough companies achieve excellence and meet their goals.&nbsp;</div>
          <div>
            By doing so we've earned recognition for delivering extremely competitive and high-performance software services to clients worldwide.</div>
        </div>
        <div class="contact-title">
          Contact Information</div>
        <div class="contact-number">
          (972) 3 6488618</div>
        <div class="contact-mail">
          <a href="">info@tikalk.com</a></div>
      </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-webform-client-block-22" class="block block-webform join-the-team block-odd">
        <h2 class="block-title">Join the Team</h2>
        <div class="content" >
            <script>
                $(document).ready(function(){
                    var form = $('#webform-client-form-22');
                    form.ajaxForm(function() {
                        alert("Thank you for your! We will be in touch with you soon.");

                    });
                })
            </script>
            <form class="webform-client-form" enctype="multipart/form-data" action="/form/jobs" method="post" id="webform-client-form-22" accept-charset="UTF-8"><div><div class="form-item webform-component webform-component-markup" id="webform-component-sub-header">
                <p>Let us contact you with more information</p>

            </div>
                <div class="form-item webform-component webform-component-textfield" id="webform-component-full-name">
                    <input placeholder="Full Name" type="text" id="edit-submitted-full-name" name="submitted[full_name]" value="" size="60" maxlength="30" class="form-text" required>
                </div>
                <div class="form-item webform-component webform-component-email" id="webform-component-email-address">
                    <input class="email form-text form-email required" placeholder="Email Address" type="email" id="edit-submitted-email-address--2" name="submitted[email_address]" size="60" required>
                </div>
                <div class="form-item webform-component webform-component-phone" id="webform-component-phone-number">
                    <input placeholder="Phone Number (optional)" type="text" id="edit-submitted-phone-number" name="submitted[phone_number]" value="" size="17" maxlength="15" class="form-text" required>
                </div>
                <div class="form-item webform-component webform-component-textfield" id="webform-component-youre-a-ninja">
                    <input placeholder="You're a Ninja in... (ex: java, ruby)" type="text" id="edit-submitted-youre-a-ninja" name="submitted[youre_a_ninja]" value="" size="60" maxlength="35" class="form-text">
                </div>
                <div id="edit-submitted-click-to-add-your-cv-ajax-wrapper"><div class="form-item webform-component webform-component-managed_file" id="webform-component-click-to-add-your-cv">
                    <label for="edit-submitted-click-to-add-your-cv-upload">Click to add your CV </label>
                    <div id="edit-submitted-click-to-add-your-cv" class="form-managed-file"><input type="file" id="edit-submitted-click-to-add-your-cv-upload" name="files[submitted_click_to_add_your_cv]" size="22" class="form-file"><input type="submit" id="edit-submitted-click-to-add-your-cv-upload-button" name="submitted_click_to_add_your_cv_upload_button" value="Upload" class="form-submit ajax-processed"><input type="hidden" name="submitted[click_to_add_your_cv][fid]" value="0">
                    </div>
                </div>
                <div class="form-actions form-wrapper" id="edit-actions--3"><input type="submit" id="edit-submit--3" name="op" value="Send" class="form-submit"></div>
                </div>
            </div>
            </form>
        </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-general-tikal-map-home-page" class="block block-general-tikal block-even">
      <h2 class="block-title">Find us at:</h2>

      <div class="content">

        <div id="map_canvas_footer" style="width: 240px; height: 200px;"></div>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            var latlng = new google.maps.LatLng(32.1065469,34.83523969999999);
            var settings = {
            zoom: 15,
                  center: latlng,
                  mapTypeControl: false,
                  mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                  navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                  mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas_footer"), settings);      
            var companyImage = new google.maps.MarkerImage("{% asset_path icons/logo-map.png %}",
                new google.maps.Size(100,50),
                new google.maps.Point(0,0),
                new google.maps.Point(50,50)
            );
            var companyShadow = new google.maps.MarkerImage("images/logo_shadow.png",
                new google.maps.Size(130,50),
                new google.maps.Point(0,0),
                new google.maps.Point(65, 50)
            );
            var companyPos = new google.maps.LatLng(32.1065469,34.83523969999999);
            var companyMarker = new google.maps.Marker({
              position: companyPos,
              map: map,
              icon: companyImage,
              shadow: companyShadow,
              title:"",
              zIndex: 3}
            );
        </script>  
      </div><!-- /.content -->
    </section><!-- /.block -->
    <div id="block-block-3" class="block block-block find-us-at block-odd">
      <div class="content">
        <div class="address">
          Habarzel 4 st, 1st Floor&nbsp;<br>
          Tel Aviv 69710<br>
          Israel
        </div>  
      </div><!-- /.content -->
    </div><!-- /.block -->
  </div>
</footer>
