<script>

    (function() {
        var cx = '012617499894110201007:qu0yvmmzksu';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = false;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:searchresults-only linkTarget="_self"></gcse:searchresults-only>


<script>
    $(document).ready(function() {
        $('#search-block-form').submit(function (e) {
            e.preventDefault();

            //find google search form
            var form = $('.gsc-control-wrapper-cse').find('form');
            var input = form.find("input[name='search']");
            var btn = form.find("input[type='image']");
            var tikalSearch = $('#edit-search-block-form--2');
            tikalSearch.blur();
            $("#bg").show();
            input.val(tikalSearch.val());
            //form.submit();
            btn.click();

        });
        
    });


</script>
