<aside id="sidebar-second" class="sidebar" role="complementary">
  <div class="region region-sidebar-second">
    <div id="block-block-10" class="block block-block facebook-banner block-even">
        <div class="content">
            <p><a href="http://www.facebook.com/TikalKnowledge" target="_blank">Facebook</a></p>
        </div>
    </div>
    {% include shared/events.html %}
    <section id="block-general-tikal-banners" class="block block-general-tikal block-odd">
        <h2 class="block-title"><none></none></h2>
        <div class="content">
          <a class="{{ page.name }}" href="/careers"></a>
        </div>
    </section>
  </div>
</aside>