<div id="block-views-offering-domains" class="block block-views block-odd">

    <div class="content">
        <div class="view view-offering view-id-offering view-display-id-domains view-dom-id-1fc725ae9c62af88ed40750301e26291">


            <div class="view-content">
                <div class="view-content-limit">
                    <div class="view-content-limit-content">

                        <div class="skin-default">

                            <div id="views_slideshow_cycle_main_offering-domains"
                                 class="views_slideshow_cycle_main views_slideshow_main">
                                <div class="cycle-slideshow"
                                     >
                                          {% for offering in site.data.offerings limit:1 %}

                                    
                                        <div class="">

                                            <div class="views-field views-field-field-image">
                                                <div class="field-content"><img typeof="foaf:Image"
                                                                                src="{{ 'big-icons/icon-training-and-courses.png' | asset_path }}"
                                                                                width="89" height="60" alt=""/></div>
                                            </div>
                                            <div class="views-field views-field-field-offering-tile-image">
                                                <div class="field-content"></div>
                                            </div>
                                            <div class="views-field views-field-title"><span class="field-content"><a
                                                    href="{{ offering.permalink | to_baseurl }}">{{ offering.title }}</a></span></div>
                                            <div class="views-field views-field-view-node"><span
                                                    class="field-content"><a
                                                    href="{{ offering.permalink | to_baseurl }}">Learn
                                                more </a></span></div>
                                        </div>
                                    </div>
                                          {% endfor %}

                                    
                                    
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.content -->

</div><!-- /.block -->