<div id="block-views-offering-domains" class="block block-views block-odd">

    <div class="content">
        <div class="view view-offering view-id-offering view-display-id-domains view-dom-id-1fc725ae9c62af88ed40750301e26291">


            <div class="view-content">
                <div class="view-content-limit">
                    <div class="view-content-limit-content">

                        <div class="skin-default">

                            <div id="views_slideshow_cycle_main_offering-domains"
                                 class="views_slideshow_cycle_main views_slideshow_main">
                                <div id="views_slideshow_cycle_teaser_section_offering-domains"
                                     class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section cycle-slideshow"
                                     data-cycle-fx="scrollHorz"
    data-cycle-pause-on-hover="true"
    data-cycle-speed="200">
                                    <div id="views_slideshow_cycle_div_offering-domains_0"
                                         class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                        <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-odd views-row-first">

                                            <div class="views-field views-field-field-image">
                                                <div class="field-content"><img typeof="foaf:Image"
                                                                                src="http://tikalk.com/sites/default/files/icon-training-and-courses.png"
                                                                                width="89" height="60" alt=""/></div>
                                            </div>
                                            <div class="views-field views-field-field-offering-tile-image">
                                                <div class="field-content"></div>
                                            </div>
                                            <div class="views-field views-field-title"><span class="field-content"><a
                                                    href="/solutions/offerings/workshop/software-architecture-course">Software
                                                Architecture Course</a></span></div>
                                            <div class="views-field views-field-view-node"><span
                                                    class="field-content"><a
                                                    href="/solutions/offerings/workshop/software-architecture-course">Learn
                                                more </a></span></div>
                                        </div>
                                    </div>
                                    <div id="views_slideshow_cycle_div_offering-domains_1"
                                         class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                        <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-1 views-row-even">

                                            <div class="views-field views-field-field-image">
                                                <div class="field-content"><img typeof="foaf:Image"
                                                                                src="http://tikalk.com/sites/default/files/icon-training-and-courses.png"
                                                                                width="89" height="60" alt=""/></div>
                                            </div>
                                            <div class="views-field views-field-field-offering-tile-image">
                                                <div class="field-content"></div>
                                            </div>
                                            <div class="views-field views-field-title"><span class="field-content"><a
                                                    href="/solutions/offerings/workshop/java-enrichment-lectures">Java
                                                enrichment lectures</a></span></div>
                                            <div class="views-field views-field-view-node"><span
                                                    class="field-content"><a
                                                    href="/solutions/offerings/workshop/java-enrichment-lectures">Learn
                                                more </a></span></div>
                                        </div>
                                    </div>
                                    <div id="views_slideshow_cycle_div_offering-domains_2"
                                         class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
                                        <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-2 views-row-odd views-row-last">

                                            <div class="views-field views-field-field-image">
                                                <div class="field-content"><img typeof="foaf:Image"
                                                                                src="http://tikalk.com/sites/default/files/icon-hands-on-trianing.png"
                                                                                width="66" height="66" alt=""/></div>
                                            </div>
                                            <div class="views-field views-field-field-offering-tile-image">
                                                <div class="field-content"></div>
                                            </div>
                                            <div class="views-field views-field-title"><span class="field-content"><a
                                                    href="/solutions/offerings/workshop/java-workshops-and-training">Java
                                                workshops and training</a></span></div>
                                            <div class="views-field views-field-view-node"><span
                                                    class="field-content"><a
                                                    href="/solutions/offerings/workshop/java-workshops-and-training">Learn
                                                more </a></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.content -->
    
</div><!-- /.block -->