<section class="block block-webform quick-contact block-odd" id="block-webform-client-block-23">
  <h2 class="block-title">Quick Contact</h2>
  <script>
    $(document).ready(function(){
      var form = $('#webform-client-form-23');
      form.ajaxForm(function() {
        alert("Thank you for your! We will be in touch with you soon.");

      });
    })
  </script>
  <div class="content">
    <form accept-charset="UTF-8" id="webform-client-form-23" method="post" action="/form/info" enctype="multipart/form-data" class="webform-client-form">
        <div>
          <div id="webform-component-sub-title" class="form-item webform-component webform-component-markup">
            <p>Let us get in touch with you.</p>
          </div>
          <div id="webform-component-your-name" class="form-item webform-component webform-component-textfield">
            <input type="text" class="form-text required" maxlength="20" size="60" value="" name="name" id="edit-submitted-your-name" placeholder="Your Name" required="true">
          </div>
          <div id="webform-component-email-address" class="form-item webform-component webform-component-email">
            <input type="email" size="60" name="email_address" id="edit-submitted-email-address" placeholder="Email Address" class="email form-text form-email required" required="true">
          </div>
          <div id="webform-component-phone-number-quick-contact" class="form-item webform-component webform-component-phone">
            <input type="text" class="form-text" maxlength="15" size="17" value="" name="phone_number_quick_contact" id="edit-submitted-phone-number-quick-contact" placeholder="Phone Number (optional)">
          </div>
          <div id="webform-component-topic" class="form-item webform-component webform-component-textfield">
            <input type="text" class="form-text required" maxlength="128" size="60" value="" name="topic" id="edit-submitted-topic" placeholder="Topic">
          </div>
          <div id="edit-actions" class="form-actions form-wrapper">
            <input type="submit" class="form-submit" value="Send" name="op" id="edit-submit">
          </div>
        </div>
    </form>  
  </div><!-- /.content -->
</section>
