<section id="block-tikal-meetup-meetup-domain-pages-events" class="block block-tikal-meetup block-odd">
    <h2 class="block-title">Events</h2>

    <div class="content" data-ng-app="main">
        <div class="" data-ng-controller="EventCtrl">
            <div class="meetup-logo"></div>
            <div>
                <div class="switch-events button button-upcoming active" data-ng-click="changeState('upcoming')">Upcoming</div>
                <div class="switch-events button button-past" data-ng-click="changeState('past')">Past</div>
            </div>

            <div data-ng-show="showUpcoming">
                <div class="field-item events-upcoming" style="display: block;" data-ng-repeat="event in events">
                    <a class="field-title" data-ng-href="{% raw %} {{ event.event_url }} {% endraw %}" target="_blank">{% raw %} {{ event.name }} {% endraw %}</a>
                    <div class="field-date">
                        <div class="date">
                            {% raw %} {{ event.time | date:'EEEE, MMMM d , H:mm' }} {% endraw %} @
                        </div>
                        <div class="name">
                            {% raw %} {{ event.venue.address_1 }} {% endraw %}, {% raw %} {{ event.venue.city }} {% endraw %}
                        </div>
                    </div>
                    <div class="field-photos">
                        <div class="photo">
                            <!-- Photos come here  -->
                            <!-- <img src="http://photos2.meetupstatic.com/photos/member/9/8/c/8/thumb_188319112.jpeg" /> -->
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-show="showPast">
                <div class="field-item events-past" style="display: block;" data-ng-repeat="past_event in past_events">
                    <a class="field-title" data-ng-href="{% raw %} {{ past_event.event_url }} {% endraw %}" target="_blank">{% raw %} {{ past_event.name }} {% endraw %}</a>
                    <div class="field-date">
                        <div class="date">
                            {% raw %} {{ past_event.time | date:'EEEE, MMMM d , H:mm' }} {% endraw %} @
                        </div>
                        <div class="name">
                            {% raw %} {{ past_event.venue.address_1 }} {% endraw %}, {% raw %} {{ past_event.venue.city }} {% endraw %}
                        </div>
                    </div>
                    <div class="field-photos">
                        <div class="photo">
                            <!-- Photos come here  -->
            <!--                 <img src="http://photos2.meetupstatic.com/photos/member/9/8/c/8/thumb_188319112.jpeg" /> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end EventCtrl-->
    </div> <!-- end content -->
</div>
</section>

<script>
var events = eval(Drupal.settings.tikalMeetup.events);
</script>