<section id="block-tikal-meetup-meetup-domain-pages-events" class="block block-tikal-meetup block-odd">
        <h2 class="block-title">Events</h2>

  <div class="content">
    <div class="meetup-logo"></div>
<div>
    <div class="switch-events button button-upcoming active">Upcoming</div>
    <div class="switch-events button button-past ">Past</div>
</div>
<div class="">
    <div class="field-item field-item-1 events-upcoming events-upcoming-1" style="display: block;">
    </div>
  </div><!-- /.content -->
</section>