<section id="block-tikal-meetup-meetup-domain-pages-events" class="block block-tikal-meetup block-odd" >
    <h2 class="block-title">Events</h2>
    <div class="content" ng-app="meetups-module">
      <div ng-controller="Sn.MainCtrl as mainCtrl" >
        <div class="meetup-logo"></div>
        <div class="buttons-container" >
            <div
              ng-class="{'active': mainCtrl.isUpComing}"
              class="switch-events button button-upcoming"
              ng-click="mainCtrl.displayUpComing()"
            >Upcoming</div>
            <div
              ng-class="{'active': mainCtrl.isPast}"
              class="switch-events button button-past"
              ng-click="mainCtrl.displayPast()"
            >Past</div>
        </div>
        <div id="meetups" ng-controller="Sn.MeetupsCtrl as meetupsCtrl">
          <div ng-show="mainCtrl.isUpComing" >
             <meetup-event 
                    title="Upcoming Events"
                    meetups="meetupsCtrl.meetupsByStatus.upcoming"
                    ng-show="meetupsCtrl.meetupsByStatus.upcoming.length"
                    is-upcoming-event="true"
              ></meetup-event>
          </div>

           <div ng-show="mainCtrl.isPast">
                <meetup-event
                    title="Past Events"
                    meetups="meetupsCtrl.meetupsByStatus.past"
                    ng-show="meetupsCtrl.meetupsByStatus.past.length"
                ></meetup-event>
            </div>
        </div>
      </div>
    </div>
</section>
