<section class="block block-webform request-more-info block-odd">
  <h2 class="block-title">Request more Info</h2>
  <div class="content">
    <script>
      $(document).ready(function(){
        var form = $('#webform-client-form-60');
        form.ajaxForm(function() {
          alert("Thank you for your! We will be in touch with you soon.");

        });
      })
    </script>
    <form class="webform-client-form" enctype="multipart/form-data" action="/form/sales" method="post" id="webform-client-form-60" accept-charset="UTF-8">
      <div>
        <div class="form-item webform-component webform-component-markup" id="webform-component-sub-title">
          About Solutions
        </div>
        <div class="form-item webform-component webform-component-textfield" id="webform-component-full-name">
          <input placeholder="Full Name" type="text" id="edit-submitted-full-name" name="full_name" value="" size="60" maxlength="20" class="form-text required" required="true">
        </div>
        <div class="form-item webform-component webform-component-email" id="webform-component-email-address-offerings">
          <input class="email form-text form-email required" placeholder="Email Address" type="email" id="edit-submitted-email-address-offerings" name="email_address" size="60" required="true">
        </div>
        <div class="form-item webform-component webform-component-phone" id="webform-component-phone-number">
          <input placeholder="Phone Number" type="text" id="edit-submitted-phone-number" name="phone_number" value="" size="17" maxlength="15" class="form-text required">
        </div>
        <div class="form-item webform-component webform-component-textfield" id="webform-component-company">
          <input placeholder="Company" type="text" id="edit-submitted-company" name="company" value="" size="60" maxlength="128" class="form-text required" required="true">
        </div>
        <input type="hidden" name="about" value="Solutions">
        <div class="form-actions form-wrapper" id="edit-actions">
          <input type="submit" id="edit-submit" name="op" value="Send" class="form-submit">
        </div>
      </div>
    </form>
  </div><!-- /.content -->
</section>