<aside id="sidebar-first" class="sidebar" role="complementary">
  <div class="region region-sidebar-first">
    <section id="block-menu-menu-solutions" class="block block-menu block-odd">
      <h2 class="block-title">Solutions</h2>
      <div class="content">
        <ul class="menu clearfix">
          <li class="first leaf working at tikal"><a href="{{ '/solutions#consultancy' | to_baseurl }}" title="" class="active">Consultancy</a></li>
          <li class="leaf the tikal alternative"><a href="{{ '/solutions#workshops' | to_baseurl }}" title="" class="active">Workshops</a></li>
          <li class="leaf our values"><a href="{{ '/solutions#support' | to_baseurl }}" title="" class="active">Support</a></li>
          <li class="leaf hear what our staff says"><a href="{{ '/solutions#testimonies' | to_baseurl }}" title="" class="active">What our customers say</a></li>
          <li class="last leaf active-trail current openings"><a href="{{ '/solutions#offerings' | to_baseurl }}" title="" class="active-trail active">Offerings</a></li>
        </ul>
      </div>
    </section>
    <div class="block block-block linkedIn block-even">
      <div class="content">
        <p><a href="http://www.linkedin.com/company/96195?trk=tyah&trkInfo=tarId%3A1403376985640%2Ctas%3Atikal%2Cidx%3A2-1-6">LinkedIn</a></p>
      </div>
    </div>
  </div>
</aside>
