<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Who Are We? | Tikal</title>
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
<!-- syntax highlighting CSS -->
<!--link rel="stylesheet" href="/css/syntax.css"-->

<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/application-1070e5396a9f348b2c31565a8ca2ade6.css">

<!-- Custom JS -->
<script src="/assets/vendor/jquery-2.1.1-fbf0c31ef61d80bbbc98a9cdfc7e6632.js"></script>
<script src="/assets/vendor/jquery.validate-466ee815d7a2fb9b74b895b6a0f9551c.js"></script>
<script src="/assets/vendor/scrollup/jquery.scrollUp-d730604bacd24a59da00d38b42cd77af.js"></script>
<script src="/assets/vendor/drupal_legacy-d5580e3eaf6de5a1446255d180dc73d3.js"></script>
<script src="/assets/vendor/angular.min-dfd2efe0eaac3581c5faf5cfed3b159e.js"></script>
<script src="/assets/meetup_events-5782f731b79266fd93b159cb798cc3d5.js"></script>
<script src="/assets/contact-897905f16738b8c5c1688eefae319441.js"></script>
<script src="/assets/application-07f972327fcb4602f91f1e8ba4b78498.js"></script>

<!-- ShareThis JS for posts section -->
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "6ae64a50-63a5-4021-a8de-b0adce0ce99b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    </head>

    <body class="html front not-logged-in no-sidebars page-node page-node-27 node-type-page all-pages with-navigation with-subnav featured dir-ltr">
        <div id="header-first">
  <div class="region region-header-first">
    <div id="block-search-form" class="block block-search block-odd">

      <div class="content">
        <form id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
              <h2 class="element-invisible">Search form</h2>
              <div class="form-item form-type-textfield form-item-search-block-form">
                <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                <input title="Enter the terms you wish to search for." placeholder="Search" type="search" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text">
              </div>
              <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit"></div><input type="hidden" name="form_build_id" value="form-hCEJ23kB0sHlr4dB3Yv5-2cDcH10yNwGSUn69WjCjF4">
              <input type="hidden" name="form_id" value="search_block_form">
            </div>
      </div></form>  </div><!-- /.content -->
    </div><!-- /.block -->
    <div id="block-menu-menu-top-links" class="block block-menu block-even">

      <div class="content">
        <ul class="menu clearfix"><li class="first last leaf login"><a href="/user" title="">login</a></li>
      </ul>  </div><!-- /.content -->
    </div><!-- /.block -->
    <div id="block-menu-menu-language" class="block block-menu block-odd">
      
      <div class="content">
        <ul class="menu clearfix"><li class="first last leaf עברית"><a href="/hebrew" title="">עברית</a></li>
      </ul>  </div><!-- /.content -->
    </div><!-- /.block -->
  </div>
</div>
<div id="google-search-form" style="visibility:hidden; width: 1px; height: 1px; float:right;">
  <script>

    (function() {
        var cx = '012617499894110201007:qu0yvmmzksu';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = false;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:searchresults-only linkTarget="_self"></gcse:searchresults-only>


<script>
    $(document).ready(function() {
        $('#search-block-form').submit(function (e) {
            e.preventDefault();

            //find google search form
            var form = $('.gsc-control-wrapper-cse').find('form');
            var input = form.find("input[name='search']");
            var btn = form.find("input[type='image']");
            var tikalSearch = $('#edit-search-block-form--2');
            tikalSearch.blur();
            $("#bg").show();
            input.val(tikalSearch.val());
            //form.submit();
            btn.click();

        });
        
    });


</script>

</div>

        <header id="header" role="banner">
  <div class="logo-and-region-header">
    <div class="background-logo"></div>
    <a href="/" title="Home" rel="home" id="logo">
      <img src="/assets/logo-ebc269c722e9e1e11b3252c442c75750.png" alt="Home">
    </a>


    <div class="region region-header">
      <section id="block-menu-menu-header-menu" class="block block-menu block-even">
        <h2 class="block-title element-invisible">Header menu</h2>

        <div class="content">
          <ul class="menu clearfix">
            
              
              <li class="leaf"><a href="/about" class="">About</a></li>
            
              
              <li class="leaf"><a href="/solutions" class="">Solutions</a></li>
            
              
              <li class="leaf"><a href="/careers" class="">Careers</a></li>
            
              
              <li class="leaf"><a href="/events" class="">Events</a></li>
            
              
              <li class="leaf"><a href="/contact" class="">Contact</a></li>
            
        </ul>  </div><!-- /.content -->
      </section><!-- /.block -->
      <section id="block-menu-menu-domains" class="block block-menu block-odd">
        <h2 class="block-title element-invisible">Domains</h2>

        <div class="content">
          <ul class="menu clearfix"><li class="first leaf devops"><a href="/devops" title="">DevOps</a></li>
            <li class="leaf java"><a href="/java" title="">JAVA</a></li>
            <li class="leaf js"><a href="/js" title="">JS</a></li>
            <li class="leaf android"><a href="/android" title="">Android</a></li>
            <li class="last leaf ruby"><a href="/ruby" title="">Ruby</a></li>
        </ul>  </div><!-- /.content -->
      </section><!-- /.block -->
    </div>
  </div><!-- /#logo-and-region-header -->
</header>

        <div id="featured">
  <div class="jcarousel">
    <ul>
      
        <li>
          <img width="1900" height="282" alt="" src="/assets/pages/events/background-37c466e505a84ddc19599abb6f7287fe.jpg" typeof="foaf:Image">
          <div class="subtitle">
            <p dir="ltr">Stay tuned with Tikal's Fullstack community upcoming Meetup events</p>
          </div>
        </li>
      
        <li>
          <img width="1900" height="282" alt="" src="/assets/pages/careers/background-14d9e35e9d4751d49862e2dbfd87666e.jpg" typeof="foaf:Image">
          <div class="subtitle">
            <p dir="ltr">We're always looking for new talent, Think you got what it takes?</p>
          </div>
        </li>
      
        <li>
          <img width="1900" height="282" alt="" src="/assets/pages/solutions/background-6132a536e7e82543437be033f2fb1e38.jpg" typeof="foaf:Image">
          <div class="subtitle">
            <p dir="ltr">Consultancy, Workshops and Support. Delivered by leading experts and customized to meet the needs of your organization.</p>
          </div>
        </li>
      
    </ul>
  </div>
</div>

        <div class="shadow-page"></div>
        <div id="page">
          <div id="main">
              <div class="tabs"></div>
          <div class="region region-content-top">
  <section id="block-views-clients-block" class="block block-views block-odd">
    <h2 class="block-title">We Work With:</h2>

    <div class="content">
      <div class="view view-clients view-id-clients view-display-id-block">

        <div class="view-content">
          <div class="view-content-limit">
            <div class="view-content-limit-content">
              
              
                <div class="views-row views-row-1 views-row-odd views-row-first">
                  <div class="views-field views-field-field-logo">
                    <div class="field-content">
                      <a href="/solutions/#testimonies">
                        <img typeof="foaf:Image" src="/assets/clients/sapiens-logo-a53d24c27d35cf483836b1b85f67a275.jpg" width="180" height="30" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              
              
                <div class="views-row views-row-2 views-row-even ">
                  <div class="views-field views-field-field-logo">
                    <div class="field-content">
                      <a href="/solutions/#testimonies">
                        <img typeof="foaf:Image" src="/assets/clients/Alcatel-Lucent_0-f79168d8ca89991cd89e6091509a42ab.png" width="180" height="30" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              
              
                <div class="views-row views-row-3 views-row-odd views-row-last">
                  <div class="views-field views-field-field-logo">
                    <div class="field-content">
                      <a href="/solutions/#testimonies">
                        <img typeof="foaf:Image" src="/assets/clients/confidela_0-9a2407e4d7d0d113a824f33bae5bdb26.png" width="180" height="30" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              
            </div>
          </div>
        </div>

    </div>  </div><!-- /.content -->
  </section><!-- /.block -->
</div>

          <h1 class="title" id="page-title">Who Are We?</h1>
<div class="region region-content">
  <div id="block-system-main" class="block block-system block-even">

    <div class="content">
      <article id="node-27" class="node node-page node-odd published with-comments node-full" about="/content/who-are-we" typeof="foaf:Document">

        <div class="content">
          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
            <div class="field-items">
              <div class="field-item  field-item-1 even" property="content:encoded">
                <p>
                We are a global software company founded by experts in the open-source community. 
                Our open-source approach provides our clients with value added services, assuring rapid development and easy customization, 
                while eliminating the risk of being held captive by a specific vendor.
                </p>
              </div>
            </div>
          </div>

        </div><!-- /.content -->

        <footer>
        </footer>


      </article><!-- /.node -->
    </div><!-- /.content -->
  </div><!-- /.block -->
</div>

          <div class="region region-content-bottom">
            <div id="block-menu-block-1" class="block block-menu-block block-domains-home-page block-odd">
              <div class="content">
  <div class="menu-block-wrapper menu-block-3 menu-name-menu-domains parent-mlid-0 menu-level-1">
    <ul class="menu clearfix">
      
        
          
          
          <li class="leaf devops"><a href="/devops" title="">DevOps</a></li>
        
      
        
          
          
          <li class="leaf java"><a href="/java" title="">Java</a></li>
        
      
        
          
          
          <li class="leaf js"><a href="/js" title="">JS</a></li>
        
      
        
          
          
          <li class="leaf android"><a href="/android" title="">Android</a></li>
        
      
        
          
          
          <li class="leaf ruby"><a href="/ruby" title="">Ruby</a></li>
        
      
    </ul>
  </div>
</div>

            </div>
            <section id="block-views-article-latest-articles" class="block block-views block-even">
  <h2 class="block-title">Latest Articles</h2>

  <div class="content">
    <div class="view view-article view-id-article view-display-id-latest_articles">

      <div class="view-content">
        <div class="view-content-limit">
          <div class="view-content-limit-content">
            
            
              <div class="views-row views-row-1 views-row-even views-row-first">
                <div class="fields">
                  <div class="views-field views-field-term-node-tid">
                    <span class="field-content">
                      <a href="js">
                        <div class="JS">JS</div>
                      </a>
                    </span>
                  </div>
                  <div class="views-field views-field-title">
                    <span class="field-content">
                      <a href="/offline-web-application-for-mobile-devices">
                        Offline Web Application for mobile devices
                      </a>
                    </span>
                  </div>
                  <div class="views-field views-field-view-user">
                    <span class="views-label views-label-view-user">by</span>
                    <span class="field-content">
                      <a href="/js/oren" title="View user profile." class="username" xml:lang="" about="/js/shavit" typeof="sioc:UserAccount" property="foaf:name" datatype="">oren</a>
                    </span>
                  </div>
                  <div class="views-field views-field-body">
                    <div class="field-content">
                      <p>
                        How to develop an offline application for mobile? &nbsp; Today, we&#39;re developing an offline web application, targeted at the mobile market. One of the main application requirements for the app is to work offline - it should work even when there is no network. &nbsp; We had two main requirements:...
                      </p>
                    </div>
                  </div>
                  <div class="views-field views-field-created">
                    <span class="field-content">
                      <time pubdate="" datetime="2014-04-23 00:00:00 +0300">
        <div class="day">23</div>
        Apr. 2014
      </time>
                    </span>
                  </div>
                  <div class="views-field views-field-comment-count">
                    <span class="field-content">
                      <a class="comments" href="/offline-web-application-for-mobile-devices#comments">
                        <div url="/offline-web-application-for-mobile-devices" class="count-comment">0</div>
                        <div class="label-comment">comments</div>
                      </a>
                    </span>
                  </div>
              </div>
              </div>
            
            
              <div class="views-row views-row-2 views-row-odd ">
                <div class="fields">
                  <div class="views-field views-field-term-node-tid">
                    <span class="field-content">
                      <a href="incubator">
                        <div class="INCUBATOR">Incubator</div>
                      </a>
                    </span>
                  </div>
                  <div class="views-field views-field-title">
                    <span class="field-content">
                      <a href="/running-a-shell-command-from-a-certain-folder-in-the-jenkins-dynamic-parameter-script">
                        Running a shell command from a certain folder in the Jenkins' dynamic parameter script
                      </a>
                    </span>
                  </div>
                  <div class="views-field views-field-view-user">
                    <span class="views-label views-label-view-user">by</span>
                    <span class="field-content">
                      <a href="/devops/gil" title="View user profile." class="username" xml:lang="" about="/js/shavit" typeof="sioc:UserAccount" property="foaf:name" datatype="">gil</a>
                    </span>
                  </div>
                  <div class="views-field views-field-body">
                    <div class="field-content">
                      <p>
                        I used the Jenkins&#39; Dynamic parameter in order to generate date for a job but that is very easy to do. What I needd to do latley is to get an application version using the javaScript&#39;s package manager&#39;s command npm or in other words, some shell command. While googling, I...
                      </p>
                    </div>
                  </div>
                  <div class="views-field views-field-created">
                    <span class="field-content">
                      <time pubdate="" datetime="2014-04-03 00:00:00 +0300">
        <div class="day">03</div>
        Apr. 2014
      </time>
                    </span>
                  </div>
                  <div class="views-field views-field-comment-count">
                    <span class="field-content">
                      <a class="comments" href="/running-a-shell-command-from-a-certain-folder-in-the-jenkins-dynamic-parameter-script#comments">
                        <div url="/running-a-shell-command-from-a-certain-folder-in-the-jenkins-dynamic-parameter-script" class="count-comment">0</div>
                        <div class="label-comment">comments</div>
                      </a>
                    </span>
                  </div>
              </div>
              </div>
            
            
              <div class="views-row views-row-3 views-row-even views-row-last">
                <div class="fields">
                  <div class="views-field views-field-term-node-tid">
                    <span class="field-content">
                      <a href="devops">
                        <div class="DEVOPS">DevOps</div>
                      </a>
                    </span>
                  </div>
                  <div class="views-field views-field-title">
                    <span class="field-content">
                      <a href="/devops/thats-one-small-step-maven-giant-leap-continuous-delivery">
                        That's one small step for Maven, a giant leap for Continuous Delivery
                      </a>
                    </span>
                  </div>
                  <div class="views-field views-field-view-user">
                    <span class="views-label views-label-view-user">by</span>
                    <span class="field-content">
                      <a href="/devops/yorammi" title="View user profile." class="username" xml:lang="" about="/js/shavit" typeof="sioc:UserAccount" property="foaf:name" datatype="">yorammi</a>
                    </span>
                  </div>
                  <div class="views-field views-field-body">
                    <div class="field-content">
                      <p>
                        More than a decade ago, when I was first been introduced with Maven, I had one big issue with its concept:&nbsp;along side with all its benefits (and there are many as such), I didn&#39;t like the idea that for each version of my product I need to set the version...
                      </p>
                    </div>
                  </div>
                  <div class="views-field views-field-created">
                    <span class="field-content">
                      <time pubdate="" datetime="2014-04-02 00:00:00 +0300">
        <div class="day">02</div>
        Apr. 2014
      </time>
                    </span>
                  </div>
                  <div class="views-field views-field-comment-count">
                    <span class="field-content">
                      <a class="comments" href="/devops/thats-one-small-step-maven-giant-leap-continuous-delivery#comments">
                        <div url="/devops/thats-one-small-step-maven-giant-leap-continuous-delivery" class="count-comment">0</div>
                        <div class="label-comment">comments</div>
                      </a>
                    </span>
                  </div>
              </div>
              </div>
            
          </div>
        </div>
      </div>
      <div class="view-footer">
        <a href="latest-articles" class="read-more">Read More »</a>
      </div>
    </div>
  </div><!-- /.content -->
</section>

            <section id="block-tikal-meetup-meetup-domain-pages-events" class="block block-tikal-meetup block-odd" >
    <h2 class="block-title">Events</h2>
    <div class="content" ng-app="meetups-module">
      <div ng-controller="Sn.MainCtrl as mainCtrl" >
        <div class="meetup-logo"></div>
        <div class="buttons-container" >
            <div
              ng-class="{'active': mainCtrl.isUpComing}"
              class="switch-events button button-upcoming"
              ng-click="mainCtrl.displayUpComing()"
            >Upcoming</div>
            <div
              ng-class="{'active': mainCtrl.isPast}"
              class="switch-events button button-past"
              ng-click="mainCtrl.displayPast()"
            >Past</div>
        </div>
        <div id="meetups" ng-controller="Sn.MeetupsCtrl as meetupsCtrl">
          <div ng-show="mainCtrl.isUpComing" >
             <meetup-list-event
                    title="Upcoming Events"
                    meetups="meetupsCtrl.meetupsByStatus.upcoming"
                    ng-show="meetupsCtrl.meetupsByStatus.upcoming.length"
                    is-upcoming-event="true"
                    rsvps="meetupsCtrl.meetupsRsvps"
              ></meetup-list-event>
          </div>

           <div ng-show="mainCtrl.isPast">
                <meetup-list-event
                    title="Past Events"
                    meetups="meetupsCtrl.meetupsByStatus.past"
                    ng-show="meetupsCtrl.meetupsByStatus.past.length"
                    rsvps="meetupsCtrl.meetupsRsvps"
                ></meetup-list-event>
            </div>
        </div>
      </div>
    </div>
</section>

            <section id="block-views-our-team-block" class="block block-views block-even">
  <h2 class="block-title">Our Team</h2>

  <div class="content">
    <div class="view view-our-team view-id-our_team view-display-id-block view-dom-id-0ad4f9f0323855f16358a2e4fc009175">
      <div class="view-header">
        We’re a diverse team of industry software experts
        helping companies achieve their projects full potential!    
      </div>
      <div class="view-content">
        <div class="view-content-latestimit">
          <div class="view-content-limit-content">
            
              <div class="views-row views-row-1">
                
          <a href="../devops/itai">
            <div class="front">
              <div class="views-field views-field-picture">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/assets/pictures/picture-52-1361281779-c6dcab5270b799ceb53f67262b8804f6.jpg" alt="">
                </div>
              </div>
              <div class="views-field views-field-field-first-name">
                <div class="field-content">Itai</div>
              </div>
              <div class="views-field views-field-field-last-name">
                <div class="field-content">Or</div>
              </div>
              <div class="views-field views-field-field-description">
                <div class="field-content">DevOps Architect</div>
              </div>
            </div>
            <div class="back">
              <div class="views-field views-field-nothing">
                <span class="field-content">
                  <div class="about">
                    <div>CM/CI/CD/DevOps Expert with over 12 years of experience in the software industry. Vast experience in developing Java server applications</div>
                  </div>
                  <div class="name">Itai Or</div>
                  <div class="description">DevOps Architect</div>
                </span>
              </div>
            </div>
          </a>
        
              </div>
            
              <div class="views-row views-row-2">
                
          <a href="../java/adi">
            <div class="front">
              <div class="views-field views-field-picture">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/assets/pictures/picture-49-1361229065-74be51b86b9bed6de478576382f6e845.jpg" alt="">
                </div>
              </div>
              <div class="views-field views-field-field-first-name">
                <div class="field-content">Adi</div>
              </div>
              <div class="views-field views-field-field-last-name">
                <div class="field-content">Baron</div>
              </div>
              <div class="views-field views-field-field-description">
                <div class="field-content">Java & JS Architect</div>
              </div>
            </div>
            <div class="back">
              <div class="views-field views-field-nothing">
                <span class="field-content">
                  <div class="about">
                    <div>Over 18 years of experience. Specializes in Enterprise Application Design, Analysis and Development, Cloud Computing, Horizontal Scale, and Big Data.</div>
                  </div>
                  <div class="name">Adi Baron</div>
                  <div class="description">Java & JS Architect</div>
                </span>
              </div>
            </div>
          </a>
        
              </div>
            
              <div class="views-row views-row-3">
                
          <a href="../java/yanai">
            <div class="front">
              <div class="views-field views-field-picture">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/assets/pictures/picture-51-1361228853-03465e84095f1b341f59ad57fcb5e142.jpg" alt="">
                </div>
              </div>
              <div class="views-field views-field-field-first-name">
                <div class="field-content">Yanai</div>
              </div>
              <div class="views-field views-field-field-last-name">
                <div class="field-content">Franchi</div>
              </div>
              <div class="views-field views-field-field-description">
                <div class="field-content">Java Architect</div>
              </div>
            </div>
            <div class="back">
              <div class="views-field views-field-nothing">
                <span class="field-content">
                  <div class="about">
                    <div>Over 12 years of experience in the software industry, has a vast experience in the Java Server architecture, in technologies such as...</div>
                  </div>
                  <div class="name">Yanai Franchi</div>
                  <div class="description">Java Architect</div>
                </span>
              </div>
            </div>
          </a>
        
              </div>
            
              <div class="views-row views-row-4">
                
          <a href="../android/igorz">
            <div class="front">
              <div class="views-field views-field-picture">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/assets/pictures/picture-69-1361228938-513bc89861c2f1177927fd06a46c129d.jpg" alt="">
                </div>
              </div>
              <div class="views-field views-field-field-first-name">
                <div class="field-content">Igor</div>
              </div>
              <div class="views-field views-field-field-last-name">
                <div class="field-content">Zalmanovich</div>
              </div>
              <div class="views-field views-field-field-description">
                <div class="field-content">.NET Architect</div>
              </div>
            </div>
            <div class="back">
              <div class="views-field views-field-nothing">
                <span class="field-content">
                  <div class="about">
                    <div>Over 7 years of experience in the software industry, has vast experience in designing  complex IT systems, creating infrastructures, algorithms, frameworks and...</div>
                  </div>
                  <div class="name">Igor Zalmanovich</div>
                  <div class="description">.NET Architect</div>
                </span>
              </div>
            </div>
          </a>
        
              </div>
            
              <div class="views-row views-row-5">
                
          <a href="../ruby/avit">
            <div class="front">
              <div class="views-field views-field-picture">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/assets/pictures/picture-121-1361228696-32e9eabf8c4e01c177da663904966daf.jpg" alt="">
                </div>
              </div>
              <div class="views-field views-field-field-first-name">
                <div class="field-content">Avi</div>
              </div>
              <div class="views-field views-field-field-last-name">
                <div class="field-content">Tzurel</div>
              </div>
              <div class="views-field views-field-field-description">
                <div class="field-content">RoR Architect</div>
              </div>
            </div>
            <div class="back">
              <div class="views-field views-field-nothing">
                <span class="field-content">
                  <div class="about">
                    <div>Working on a full blown website with Ruby on rails as a framework, managing servers and databases, deploying to a number of...</div>
                  </div>
                  <div class="name">Avi Tzurel</div>
                  <div class="description">RoR Architect</div>
                </span>
              </div>
            </div>
          </a>
        
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

            <section class="block block-webform quick-contact block-odd" id="block-webform-client-block-23">
  <h2 class="block-title">Quick Contact</h2>

  <div class="content">
    <form accept-charset="UTF-8" id="webform-client-form-23" method="post" action="//forms.brace.io/info@tikalk.com" enctype="multipart/form-data" class="webform-client-form">
        <div>
          <div id="webform-component-sub-title" class="form-item webform-component webform-component-markup">
            <p>Let us get in touch with you.</p>
          </div>
          <div id="webform-component-your-name" class="form-item webform-component webform-component-textfield">
            <input type="text" class="form-text required" maxlength="20" size="60" value="" name="name" id="edit-submitted-your-name" placeholder="Your Name" required="true">
          </div>
          <div id="webform-component-email-address" class="form-item webform-component webform-component-email">
            <input type="email" size="60" name="email_address" id="edit-submitted-email-address" placeholder="Email Address" class="email form-text form-email required" required="true">
          </div>
          <div id="webform-component-phone-number-quick-contact" class="form-item webform-component webform-component-phone">
            <input type="text" class="form-text" maxlength="15" size="17" value="" name="phone_number_quick_contact" id="edit-submitted-phone-number-quick-contact" placeholder="Phone Number (optional)">
          </div>
          <div id="webform-component-topic" class="form-item webform-component webform-component-textfield">
            <input type="text" class="form-text required" maxlength="128" size="60" value="" name="topic" id="edit-submitted-topic" placeholder="Topic">
          </div>
          <div id="edit-actions" class="form-actions form-wrapper">
            <input type="submit" class="form-submit" value="Send" name="op" id="edit-submit">
          </div>
        </div>
    </form>  
  </div><!-- /.content -->
</section>

          </div>
          
          </div>
        </div>
        <footer id="footer" role="contentinfo">
  <div class="region region-footer">
    <section id="block-block-2" class="block block-block block-about-tikal block-even">
      <h2 class="block-title">About Tikal</h2>

      <div class="content">
        <div>
          <div>
            For over 12 years, we have helped breakthrough companies achieve excellence and meet their goals.&nbsp;</div>
          <div>
            By doing so we've earned recognition for delivering extremely competitive and high-performance software services to clients worldwide.</div>
        </div>
        <div class="contact-title">
          Contact Information</div>
        <div class="contact-number">
          (972) 3 6488618</div>
        <div class="contact-mail">
          <a href="">info@tikalk.com</a></div>
      </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-webform-client-block-22" class="block block-webform join-the-team block-odd">
      <h2 class="block-title">Join the Team</h2>
      <div class="content">
        <div>
          <div class="form-item webform-component webform-component-markup" id="webform-component-sub-header">
              <p>Let us contact you with more information</p>
          </div>
          <script type="text/javascript" src="http://form.jotform.me/jsform/41884289305463"></script>
        </div>
      </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-general-tikal-map-home-page" class="block block-general-tikal block-even">
      <h2 class="block-title">Find us at:</h2>

      <div class="content">

        <div id="map_canvas_footer" style="width: 240px; height: 200px;"></div>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            var latlng = new google.maps.LatLng(32.1065469,34.83523969999999);
            var settings = {
            zoom: 15,
                  center: latlng,
                  mapTypeControl: false,
                  mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                  navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                  mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas_footer"), settings);      
            var companyImage = new google.maps.MarkerImage("/assets/icons/logo-map-1a2609d2dd636172949b30cd33a1d8a0.png",
                new google.maps.Size(100,50),
                new google.maps.Point(0,0),
                new google.maps.Point(50,50)
            );
            var companyShadow = new google.maps.MarkerImage("images/logo_shadow.png",
                new google.maps.Size(130,50),
                new google.maps.Point(0,0),
                new google.maps.Point(65, 50)
            );
            var companyPos = new google.maps.LatLng(32.1065469,34.83523969999999);
            var companyMarker = new google.maps.Marker({
              position: companyPos,
              map: map,
              icon: companyImage,
              shadow: companyShadow,
              title:"",
              zIndex: 3}
            );
        </script>  
      </div><!-- /.content -->
    </section><!-- /.block -->
    <div id="block-block-3" class="block block-block find-us-at block-odd">
      <div class="content">
        <div class="address">
          Habarzel 4 st, 1st Floor&nbsp;<br>
          Tel Aviv 69710<br>
          Israel
        </div>  
      </div><!-- /.content -->
    </div><!-- /.block -->
  </div>
</footer>

        <footer id="footer-second" role="contentinfo">
  <div class="region region-footer-second">
    <section id="block-views-popular-articles-block" class="block block-views block-even">
      <h2 class="block-title">Popular Articles</h2>

      <div class="content">
        <div class="view view-popular-articles view-id-popular_articles view-display-id-block view-dom-id-796319b1b70c397287cdccd16eebbb82">

          <div class="view-content">
            <div class="view-content-limit">
              <div class="view-content-limit-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">

                  <div class="views-field views-field-title">        <span class="field-content"><a href="/java/location-auto-complete-and-lookup">Location Auto complete and lookup</a></span>  </div>  </div>
                <div class="views-row views-row-2 views-row-even">

                  <div class="views-field views-field-title">        <span class="field-content"><a href="/js/present-and-future-typescript">Present and future of TypeScript</a></span>  </div>  </div>
                <div class="views-row views-row-3 views-row-odd views-row-last">

                  <div class="views-field views-field-title">        <span class="field-content"><a href="/ror/building-gogobot-social-graph">building the gogobot social graph</a></span>  </div>  </div>
              </div>
            </div>
          </div>

      </div>  </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-menu-menu-fields" class="block block-menu block-odd">
      <h2 class="block-title">Domains</h2>

      <div class="content">
        <ul class="menu clearfix"><li class="first leaf application lifecycle management"><a href="/alm" title="">DevOps</a></li>
          <li class="leaf java"><a href="/java" title="">Java</a></li>
          <li class="leaf javascript"><a href="/js" title="">JavaScript</a></li>
          <li class="leaf .net"><a href="/net" title="">Android</a></li>
          <li class="last leaf ruby on rails"><a href="/ror" title="">Ruby</a></li>
      </ul>  </div><!-- /.content -->
    </section><!-- /.block -->
    <section id="block-menu-menu-site-map" class="block block-menu block-even">
      <h2 class="block-title">Site Map</h2>

      <div class="content">
        <ul class="menu clearfix"><li class="first leaf about us"><a href="/about" title="">About Us</a></li>
          <li class="leaf active-trail solutions"><a href="/solutions" title="" class="active-trail active">Solutions</a></li>
          <li class="leaf careers"><a href="/careers" title="">Careers</a></li>
          <li class="leaf events"><a href="/events" title="">Events</a></li>
          <li class="last leaf contact"><a href="/contact" title="">Contact</a></li>
      </ul>  </div><!-- /.content -->
    </section><!-- /.block -->
    <div id="block-block-1" class="block block-block all-rights-reserved block-odd">

      <div class="content">
        <p>© 2013 All Rights Reserved. Tikal</p>
      </div><!-- /.content -->
    </div><!-- /.block -->
    <div id="block-menu-menu-external-links" class="block block-menu block-even">

      <div class="content">
        <ul class="menu clearfix"><li class="first leaf facebook"><a href="http://www.facebook.com/TikalKnowledge" title="" target="_blank">Facebook</a></li>
          <li class="leaf twitter"><a href="https://twitter.com/TikalK" title="" target="_blank">Twitter</a></li>
          <li class="leaf in"><a href="http://www.linkedin.com/company/tikal-knowledge" title="" target="_blank">in</a></li>
          <li class="last leaf rss"><a href="/rss-latest-articles" title="Latest Articles">RSS</a></li>
      </ul>  </div><!-- /.content -->
    </div><!-- /.block -->
  </div>
</footer>

    </body>
</html>
